<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">Imitation Learning</a></li>
	        		<li><a href="/cv">Reinforcement Learning</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/CS527Applied-Machine-Learning-for-Games/Don-t-Crash">GitHub</a></li>
				</ul>
			</footer>
		</body>
	</html>
